<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MiMaster.master.cs" Inherits="Ejemplo1.MiMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <link rel="stylesheet" href="~/Estilos/estilos.css" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <header>
                <h1>HEADERRR</h1>
            </header>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <footer>
                <p>footerrrr</p>
            </footer>
        </div>
    </form>
</body>
</html>
